<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cov_idnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COVIDNews">
        <activity android:name=".HelpTab"></activity>
        <activity android:name=".berita.NewsTab" />
        <activity android:name=".berita.CreateActivity" />
        <activity android:name=".rumahsakit.HospitalTab" />
        <activity android:name=".OurTeam" />
        <activity android:name=".admin.halaman_admin" />
        <activity android:name=".rumahsakit.CreateActivity" />
        <activity android:name=".rumahsakit.UpdateActivity" />
        <activity android:name=".rumahsakit.ListActivity" />
        <activity android:name=".admin.login_admin" />
        <activity android:name=".LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>